header{
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.3)), url(./background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: white;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
 margin: 0;
 padding: 0;
}

nav{
    background-color: #121212;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
   padding-top: 20px;
    position: relative;
    top: 0px;
    position: fixed;
    z-index: 50;
    
    
}

.logo{
    font-size: 30px;
    position: relative;
    right: 50px;
}

.menu a{
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    /* top: 10px; */
    padding: 10px 20px;
    position: relative;
}

.menu a:before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
    
}
.menu a:hover:before{
    width: 90%;
    
}
.cart a{
    text-decoration: none;
    color: white;
    background-color: indianred;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s;
    position: relative;
    top: 10px;
}
.cart a:hover{
    background-color: transparent;
    border-color: indianred;
   border: 2px solid indianred;
}


.text{
    max-width: 650px;
    position: absolute;
    top: 50%;
    bottom: 20px;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.text span{
    position: relative;
    top: 80px;
    bottom: 20px;
    letter-spacing: 8px;
    font-size: 20px;
    margin: 80px;

}

.text h1{
    font-size: 3.5em;
    margin: 80px;
    position: relative;
    top: 30px;

}

.text a{
    text-decoration: none;
    color: white;
    background-color: indianred;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.2s;
    margin: 30px;
    position: relative;
    top: 20px;
    
}

.text a:hover{
    background-color: transparent;
    border-color: indianred;
   border: 3px solid indianred;
}

.card{
    
    height: 50px;
    width: 350px;
    border-radius: 8px;
    border-color: indianred;
    margin-left: 60px;
}

.container > .card{
    display: inline-block;

}

.aboutus{
    text-align: center;
    font-size: 2rem;
    padding: 50px;
}
.aboutus::before{
    content: '';
    top: 100px;
    left: 0;
    height: 100%;
    width: 0%;
    position: absolute;
    border-bottom: 3px solid indianred;
    transition: 0.3s ease-in-out;

}

.aboutus:hover::before{
 width: 100%;
}

.branches{
    text-align: center;
    font-size: 2rem;
    padding: 50px;
    color: white;
}
.branches::before{
    content: '';
    top: 780px;
    left: 0;
    height: 100%;
    width: 0%;
    position: absolute;
    border-bottom: 3px solid white;
    transition: 0.3s ease-in-out;
}

.branches:hover::before{
 width: 100%;
}

img{
    align-items: center;
    margin: 20px;
    border-radius: 8px;
}


.branch-img{

    height: 200px;
    width: 300px;
}

hr{
    position: relative;
    top: 20px;
    
}

.branch{
    background-color: indianred;
    margin: 0;
   padding-bottom: 100px;
}

.content{
    padding: 10px;
}

.card{
    transition: 0.4s;
}
.card:hover{
    padding: 2px;
    border: 3px solid indianred;
}

.footer{
    padding: 30px;
}

li{
    text-decoration: none;
    display: inline-block;
}

#name{
    color: indianred;
}


.branch-card{
    transition: 0.4s;
}
.branch-card:hover{
    padding: 2px;
    border: 3px solid black;
}

#site{
    text-decoration: none;
    color: indianred;
   font-weight: bold;
}
